<h1>~신이 나를 만들 때~</h1>

<%= image_tag("godstart.PNG", height:'280' , width:'350') %>
<br></br>
    <form action="/home/result">
    <p>당신의 이름을 적어주세요!</p>
    이름: <input type="text" name="username"><br>
    신이 당신을 만들 때 어떤 일이?? <input type="submit" name="submit"><br>
    </form>